**This is a comment.**



```
# This is formatted as code
```

In [1]:
10+20

30

In [2]:
"Hello"

'Hello'

In [3]:
print("Welcome to google colab!")

Welcome to google colab!

In [4]:
print("\"Welcome to google colab\"")

"Welcome to google colab"

In [5]:
"hello"

'hello'

In [6]:
120/12*2-4

16.0

In [7]:
(5-2)*10

30

In [8]:
13//2 # Floor Division gives nearest smallest integer (ans. is 6.5 so nearest smallest no. is 6)
# Ceil gives nearest largest integer. There is no ceil division. We can find ceil and floor of any fraction
# 3 things we can do with a fraction are: round(12.2)=12, floor(12.2)=12, ceil(12.2)=13

6

In [9]:
-13//2 # gives nearest smallest integer (Ans:-6.5 so nearest smallest no. is -7 as -7 is smaller than -6)

-7

In [10]:
marks=80
marks

80

In [11]:
type(marks)

int

In [12]:
2**5

32

Boolean Operations

In [13]:
x = True
y = False

In [14]:
x or y

True

In [15]:
x and y

False

In [16]:
not x

False

In [17]:
not y

True

In [18]:
x = 13
y = 5

In [19]:
c1 = x > y
c1

True

In [20]:
c2 = x < y
c2

False

In [21]:
not c1

False

In [22]:
not c2

True

In [23]:
type(c1)

bool

In [24]:
price=50.5
price
type(price) # only shows output of last line

float

In [25]:
print(price) # to see intermediate line's output use print() function
type(price)

50.5

float

In [26]:
name="Rakhi"
type(name)

str

In [27]:
dir(str) # all methods that can be applied on strings
# __ dunder/magic methods (double underscore methods which python uses internally)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [28]:
str1="welcome to Python Data Science."
str1.capitalize()

'Welcome to python data science.'

In [29]:
str1

'welcome to Python Data Science.'

In [30]:
str1.upper()

'WELCOME TO PYTHON DATA SCIENCE.'

In [31]:
str1.lower()

'welcome to python data science.'

In [32]:
str1.title()

'Welcome To Python Data Science.'

In [33]:
food="bIrYAni"
name="rAKHI"
print(food.swapcase())
name.swapcase()

BiRyaNI

'Rakhi'

In [34]:
s1="My name is Rakhi."
s1.split() # list of strings is created

['My', 'name', 'is', 'Rakhi.']

In [35]:
s2="Mumbai-Pune-Mumbai"
s2.split()

['Mumbai-Pune-Mumbai']

In [36]:
s2="Mumbai-Pune-Mumbai"
s2.split("-")

['Mumbai', 'Pune', 'Mumbai']

In [37]:
mail="rakhigmail.com"
mail.split("@")

['rakhigmail.com']

In [38]:
s1

'My name is Rakhi.'

In [39]:
s1.replace("Rakhi","Snehal")

'My name is Snehal.'

In [40]:
s1

'My name is Rakhi.'

In [41]:
# single line comment
'''

multiline comment
'''

'\n\nmultiline comment\n'

In [42]:
city="Satara"
city.count("a")

3

In [43]:
"Satara".count("S")

1

In [44]:
name="Raj"
name*4

'RajRajRajRaj'

In [45]:
n1=5
n1*7

35

In [46]:
name="Rajesh"
surname="Kulkarni"
name + surname # concatenates without space

'RajeshKulkarni'

In [47]:
name + " " + surname

'Rajesh Kulkarni'

In [48]:
name

'Rajesh'

In [49]:
# Conditional Statement
a=1630
b=1250
if a>b:
  print("a is greater")
  print("In True block")
  c=a+b
  print(c)
else:
  print('b is greater')
  print("In False block")
  c=a*b
  print(c)

a is greater
In True block
2880

In [50]:
a=200
b=1300
if(a>b):
  print(a,"is greater")
else:
  print("Greatest number is:",b)

Greatest number is: 1300

In [51]:
salary=15000
if (salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if / else")
print("Bye... outside of if block")
net_sal=salary-tax*salary
print("Net Salary=",net_sal)
# change value of salary as 15000 and execute again

Hello from false if / else
Bye... outside of if block
Net Salary= 12000.0

In [52]:
range(5,10)

range(5, 10)

In [53]:
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello

In [54]:
for i in range(1,11):
  print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [55]:
# For Loop
for i in range(5,10): # Print numbers from 5 to 9. Default increment is 1.
  print(i)
print("Bye")

5
6
7
8
9
Bye

In [56]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [57]:
# print odd numbers from 1 to 10
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [58]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [59]:
# Q1. print all even numbers from 1 to 20
# Q2. print all odd numbers from 1 to 20

In [60]:
# 'break' statement terminates the loop when condition is satisfied
for i in range(1,11):
  if i==5:
    print("Same")
    break
  else:
    print(i)

1
2
3
4
Same

In [61]:
for num in range(11): # 0 to 10
  print(num,num**2) # num and its square

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [62]:
# range(start,stop,step)
for i in range(1,31,5):
  #print(i)
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [63]:
subject="Science"
for i in subject:
  print(i)

S
c
i
e
n
c
e

In [64]:
# print name 3 times on first line, 4 times on 2nd, 5 - 3rd, 6 - 4th line. Range(3,7)
'''
name="Rakhi"
for i in range(3,7):
  x=(name + " ")*i
  print(x)
'''
name="Rakhi"
for i in range(3,7):
  print(name*i)

RakhiRakhiRakhi
RakhiRakhiRakhiRakhi
RakhiRakhiRakhiRakhiRakhi
RakhiRakhiRakhiRakhiRakhiRakhi

In [65]:
# print each letter of movie on separate line
# change case of each letter (upper to small and small to upper) of movie on single line with seperator ~
movie="Drishyam"
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
  print(letter.swapcase(),end=" ") #try upper(), lower(),"-","#",etc. Default end parameter is 'new line'

d R I S H Y A M

In [66]:
# Print all even and odd numbers between given range using For Loop
for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [67]:
# Print all even and odd numbers between given range using For Loop
print('Even Numbers:')
for i in range(1, 11):
  if i % 2 == 0:
    print(i, end=" ")

print(" ") # new line
print('Odd Numbers:')
for i in range(1,11):
  if i%2!=0: # != not equal to
    print(i, end=" ")

Even Numbers:
2 4 6 8 10
Odd Numbers:
1 3 5 7 9

In [68]:
status1=True
type(status1)

bool

In [69]:
status2=False
type(status2)

bool

In [70]:
# print each letter 4 times with separator as space
for letter in "Data Science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [71]:
len("My name")

7

In [72]:
len("Rakhi")

5

In [73]:
# Data Structure: 1.LIST
# Lists are mutable.
# created using square brackets []
marks=[40,55,70,60,80,85,78]
marks

[40, 55, 70, 60, 80, 85, 78]

In [74]:
type(marks)

list

In [75]:
l1=[1.2,1.3]
type(l1)

list

In [76]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [77]:
len(marks)

7

In [78]:
new_marks=sorted(marks) # creates new sorted list. Original marks list remains unchanged
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [79]:
sorted(marks)

[40, 55, 60, 70, 78, 80, 85]

In [80]:
marks

[40, 55, 70, 60, 80, 85, 78]

In [81]:
marks.sort() # original list is sorted in ascending order by default

In [82]:
marks

[40, 55, 60, 70, 78, 80, 85]

In [83]:
marks.append(35) # Append will add element in the last only.
marks

[40, 55, 60, 70, 78, 80, 85, 35]

In [84]:
marks.reverse()

In [85]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [86]:
marks2=[42,64,50,78,87,80]

In [87]:
marks2.sort(reverse=True) # sorts in descending order when reverse=True
marks2

[87, 80, 78, 64, 50, 42]

In [88]:
marks3=[40,60,50,70,80,85]
marks3.sort(reverse=False) # by default it sorts in ascending order. No need to write 'reverse=False'

In [89]:
marks3

[40, 50, 60, 70, 80, 85]

In [90]:
marks3.insert(3,89) # insert 89 at 3rd index

In [91]:
marks3

[40, 50, 60, 89, 70, 80, 85]

In [92]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [93]:
90 in marks # checks whether 90 is present in list or not. IF yes returns True, else False

False

In [94]:
85 in marks

True

In [95]:
list1=[10,20,30]
list2=[40,50,60]
list1 + list2 # concatenation or merging of two lists

[10, 20, 30, 40, 50, 60]

In [96]:
(list1+list2)*3 # repeats 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [97]:
stationary=['pen','pencil','sharpner']
stationary

['pen', 'pencil', 'sharpner']

In [98]:
len(stationary)

3

In [99]:
stationary.append(['notebook','book']) # only 1 list element will be added
stationary

['pen', 'pencil', 'sharpner', ['notebook', 'book']]

In [100]:
len(stationary)

4

In [101]:
stationary.pop(1) # index 1 element will be removed from list

'pencil'

In [102]:
stationary

['pen', 'sharpner', ['notebook', 'book']]

In [103]:
stationary.append(['pencil']) # only 1 list element will be added
stationary

['pen', 'sharpner', ['notebook', 'book'], ['pencil']]

In [104]:
stationary.pop() #if index no. is not mentioned pop() removes the last element
stationary

['pen', 'sharpner', ['notebook', 'book']]

In [105]:
# to add multiple items use extend()
stationary.extend(['writing_pad','textbook','eraser'])

In [106]:
stationary

['pen', 'sharpner', ['notebook', 'book'], 'writing_pad', 'textbook', 'eraser']

In [107]:
len(stationary)

6

In [108]:
stationary.remove('eraser') # will remove mentioned element name from list
stationary

['pen', 'sharpner', ['notebook', 'book'], 'writing_pad', 'textbook']

In [109]:
len(stationary)

5

In [110]:
stationary.index('textbook')

4

In [111]:
'''
if condition:
  -- things to do when condition is true
else:
  -- things to do when condition is false
'''
# elif - multiple conditions

num = -5 # try 0, 5
if num > 0:
  print("Positive")
elif num == 0:
  print("It's Zero")
else:
  print("Negative")

Negative

**Get input from user and find grades**

In [112]:
name = input("Enter your name: ") # while taking input it may get time to execute or laptop may hang. Then assign value directly to a variable

Enter your name: Rakhi

In [113]:
name

'Rakhi'

In [114]:
marks = input("Enter Marks: ")

Enter Marks: 89

In [115]:
marks

'89'

In [116]:
age=20

In [117]:
age

20

In [118]:
age+10

30

In [119]:
marks + 10 # can't add int with string

TypeError: can only concatenate str (not "int") to str

In [120]:
# output is coming in quotation i.e. it is treated as string. You have to convert it to number.
# instead of doing it in 2 steps, while accepting input only we can convert it to integer.
age = int(input("Enter age: "))

Enter age: 42

In [121]:
age + 5

47

In [123]:
# accept a number from user, if it is divisible by 7 display "You win" else display "Sorry, try again"
num = int(input("Enter a number: "))
print(num)
if num % 7 == 0:
  print("You win")
else:
  print("Sorry, try again")

Enter a number: 49
49
You win

In [124]:
# accept marks, if marks>=80 print "Distinction", if between 60-80 print "First class",
# if between 40-60 print "Pass", if less than 40 print"Fail"
marks = int(input("Enter your marks: "))
if marks >= 80:
  print("Distinction")
elif marks >= 60:
  print("First Class")
elif marks >= 40:
  print("Pass")
else:
  print("Fail")

Enter your marks: 74
First Class

**For Loop**

In [125]:
mrklist = [34,55,77,95,20]
for marks in mrklist:
  if marks >= 80:
    print(marks, "--> Distinction")
  elif marks >= 60:
    print(marks, "--> First Class")
  elif marks >= 40:
    print(marks, "--> Pass")
  else:
    print(marks, "--> Fail")

34 --> Fail
55 --> Pass
77 --> First Class
95 --> Distinction
20 --> Fail

**While loop**

In [126]:
# While loop: Print Hello for 5 times
cnt = 0
while cnt < 5:
  print("Hello")
  cnt = cnt + 1

Hello
Hello
Hello
Hello
Hello

**Write user defined function**

In [127]:
# Write a square function

# Function Definition
def square(x):
  return x * x # or retrurn x**2

In [128]:
# Call a funciton
square(9)

81

In [129]:
square(5)

25

In [130]:
# write a function calc_grade(marks)
def calc_grade(marks):
    if marks >= 80:
      grade = "Distinction"
    elif marks >= 60:
      grade = "First Class"
    elif marks >= 40:
      grade = "Pass"
    else:
      grade = "Fail"
    return grade # it should be aligned with if

In [131]:
# Call the function
calc_grade(90)

'Distinction'

In [132]:
# List of Strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [133]:
# Display fruits by changing case of all fruits to uppercase
for fruit in list3:
  print(fruit.upper()) # in sigle line: print(fruit.upper(),end=" ")
  #print(fruit.upper(),end=",")
  #print(fruit.replace("u","a"), end=" ")

MANGO
APPLE
BANANA
PINEAPPLE
CUSTARD APPLE
STRAWBERRY

In [134]:
# In Python Indexing starts with 0
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [135]:
list3[3]

'Pineapple'

In [136]:
list3.count("Banana")

1

In [137]:
list3[6] # raise error as index is upto 5 only (0 to 5)

IndexError: list index out of range

In [ ]:
list3[5]

In [138]:
# Slicing
list3[0:4] # 0,1,2,3

['Mango', 'Apple', 'Banana', 'Pineapple']

In [139]:
# from Apple to Strawberry i.e. till end
list3[1:]# or list3[1:6]

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [140]:
# from beginning to Pinaapple
list3[:4] # or  list3[0:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [141]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [142]:
list3[-4::-1] #start,end,step

['Banana', 'Apple', 'Mango']

In [143]:
# Negative indexing: -1 refers to last element
list3[-1]

'Strawberry'

In [144]:
list3[-3]

'Pineapple'

In [145]:
list3[-6]

'Mango'

In [146]:
# start stop step in slicing
print(list3)
list3[::2] # 0,2,4

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [147]:
n1=[1:31] # to create list of 1 to 30 - will raise error

SyntaxError: invalid syntax (ipython-input-833111276.py, line 1)

In [148]:
n1=list(range(1,31))
print(n1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [149]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [150]:
# print nos from index 2 to 26 with step value of 5
n1[2:27:5]

[3, 8, 13, 18, 23]

In [151]:
print(list3)

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [152]:
list3[::-1]

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [153]:
list3[::-2] # step value is -2

['Strawberry', 'Pineapple', 'Apple']

In [154]:
# use of 'in' keyword: search substring in given word
'the' in 'Netherland'

True

In [155]:
'The' in 'Netherland'

False

In [156]:
'therer' in 'Netherland'

False

In [157]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [158]:
list3.append("Mulberry")

In [159]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [160]:
list3.remove("Mulberry") # removes mentioned element

In [161]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [162]:
# display fruits which contain substring as 'berry' using for loop
for fruit in list3:
  if 'berry' in fruit:
    print(fruit)

Strawberry

In [163]:
# display fruits which contain substring as 'pple' using for loop
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pineapple
Custard Apple

In [164]:
list3.append("Black berry")

In [165]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [166]:
# Create list4 of fruits from list3 having only 'berry' as substring and store remaining fruits in list5
list4=[]
list5=[]
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  else:
    list5.append(fruit)
print(list4,end=" ")
print(list5,end=" ")

['Strawberry', 'Black berry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [167]:
# print squares of all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
  l2.append(i**2) # OR l2.append(i*i)
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [168]:
# List comprehension - makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [169]:
list3
#list3.append("Black berry")

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [170]:
# extract fruit names containing substring 'berry' using List comprehension
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [171]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]

In [172]:
newlist

['Strawberry', 'Black berry']

In [173]:
newlist1=[i for i in list3 if 'berry' not in i]

In [174]:
newlist1

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [175]:
city=["Pune","Mumbai","Satara","Thane","Solapur","Kolhapur"]

In [176]:
newlistpur=[i for i in city if "pur" not in i]

In [177]:
newlistpur

['Pune', 'Mumbai', 'Satara', 'Thane']

In [178]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [179]:
list3.index('Strawberry')

5

In [180]:
list3.index('Black berry')

6

In [181]:
list3.index('Orange') # will raise error as item is not present in the list

ValueError: 'Orange' is not in list

In [183]:
print(list3,end=" ")

['Mango', 'Apple', 'Orange', 'Pineapple', 'Custard Apple', 'Strawberry', 'Black berry']

In [182]:
# index 2 item was banana which is replaced by Orange
# Lists are mutable - you can replace items of list
list3[2]="Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [184]:
# Data Structure: 2.TUPLE
# Tuples are not mutable i.e. immutable
# created using round brackets ()
t1=(10,20,30,40,50)
t1

(10, 20, 30, 40, 50)

In [185]:
type(t1)

tuple

In [186]:
t1[2]

30

In [187]:
t1[0]=100 # will raise an error as tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [188]:
t3=t1 + (6,7,8,9,10)

In [189]:
t3

(10, 20, 30, 40, 50, 6, 7, 8, 9, 10)

In [190]:
t1 * 3

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [191]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [192]:
t1

(10, 20, 30, 40, 50)

In [193]:
t1.count(50)# in bracket we have passed an element of tuple (not the index)

1

In [194]:
t1.index(40) # in bracket we have passed an element of tuple (not the index)

3

In [195]:
t2=(1,1,1,2,2,6,6,6,7,6,6,7)

In [196]:
t2.index(6)

5

In [197]:
t2.count(1)

3

In [198]:
# indexing and slicing with tuple is same as list
# extracting elements of tuple
t1[2]

30

In [199]:
t1

(10, 20, 30, 40, 50)

In [200]:
t1[1:5]

(20, 30, 40, 50)

In [201]:
t1[3:]

(40, 50)

In [202]:
# Data Structure: 3.Dictionary
# Dictionaries are used to store data values in "key:value pairs".
# A dictionary is a collection which is ordered, changeable and do not allow duplicates.
# Dictionaries are written with curly brackets {"Key":"Value"}, and have keys and values.
# Here, keys are unique identifiers that are associated with each value.:

capital_dict={"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
capital_dict

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [203]:
type(capital_dict)

dict

In [204]:
dir(capital_dict) # or dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [206]:
# access element of dictionary
capital_dict["Italy"]

'Rome'

In [205]:
# keys() method extracts the keys of the dictionary and returns the list of keys as a view object.
keys=capital_dict.keys()
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [207]:
type(keys)

dict_keys

In [208]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [209]:
# The values() method returns a view object that displays a list of all the values in the dictionary.
values=capital_dict.values()
values

dict_values(['Kathmandu', 'Rome', 'London'])

In [210]:
# The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.
items=capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [211]:
# The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.
add_capital={"India": "New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [212]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [213]:
capital_dict.update({"Australia":"Sydney"}) # capital of Australia is Canberra
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Sydney'}

In [214]:
capital_dict.update({"a":"b","p":"q"})

In [215]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Sydney',
 'a': 'b',
 'p': 'q'}

In [216]:
# The pop() method removes and returns an element from a dictionary having the given key.
capital_dict.pop("Australia")

'Sydney'

In [217]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'a': 'b',
 'p': 'q'}

In [218]:
capital_dict['abc']="Mumbai"

In [219]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai',
 'a': 'b',
 'p': 'q'}

In [220]:
capital_dict.popitem() # removes last key:value pair from dictionary

('p', 'q')

In [221]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai',
 'a': 'b'}

In [222]:
# Dictionary Values can be of different data type
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [223]:
mytuple=(20,53,45,78,89,65,97)

In [224]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict
       }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi',
  'abc': 'Mumbai',
  'a': 'b'}}

In [225]:
mydict['A']

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [226]:
mydict['B']

(20, 53, 45, 78, 89, 65, 97)

In [227]:
mydict['A'][2] #index 0 1 2 3, 3rd index element = banana

'Strawberry'

In [228]:
mydict['C']['Italy']

'Rome'

In [229]:
# Math functions: can import specific functions or all using *
sqrt(25) # raise error as you have not imported

NameError: name 'sqrt' is not defined

In [230]:
from math import sqrt
sqrt(81)

9.0

In [231]:
factorial(5)

NameError: name 'factorial' is not defined

In [232]:
from math import factorial
factorial(5)

120

In [233]:
sin(90)

NameError: name 'sin' is not defined

In [234]:
from math import sin,cos,tan

In [235]:
cos(0)

1.0

In [236]:
from math import *
listnew=[5,2,3]
prod(listnew) #or prod([10,20,30])

30

In [237]:
prod(t1)

12000000

In [238]:
# OR you can say 'import math'
# But while calling any function you have to use math.Function_Name()
# The math.prod() method returns the product of the elements from the given iterable.
import math # or 'import math as mt', mt.sqrt(64 )
sequence = (2,2,5,6) # iterable where elements are given
print(math.prod(sequence))

120

In [239]:
import math
list4=[2,3,4]
math.prod(list4)

24

In [240]:
dir(math) # all functions of math library

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [241]:
import math as mt

In [242]:
mt.sqrt(36)

6.0